{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h2>{{ book.title }}</h2>
        <table class="table table-striped">
            <thead class="table-dark p-3">
            <tr>
                <th scope="row"></th>
                <th scope="row"></th>


            </tr>
            </thead>
            <tbody>

            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>

            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            </tbody>
        </table>


                <a class="btn btn-dark" href="{{ path('book_index') }}">Back</a>

                <a class="btn btn-info ml-3 " href="{{ path('book_edit', {'id': book.id}) }}">Edit</a>


               <span class="float-right"> {{ include('book/_delete_form.html.twig') }}</span>




    </div>

    {% for review in book.reviews %}
        <div class="card mt-3 border-top ml-3" style="width: 36rem;">
            <h5 class="card-header bg-dark text-light ">{{ review.name }}</h5>
            <div class="card-body">
                <h5 class="card-text">{{ review.description }}</h5>
            </div>
        </div>

    {% endfor %}



{% endblock %}
