{% extends 'base.html.twig' %}
{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="jumbotron bg-dark">
        <h2 class="text-center text-light">BookHub your favourite booklist!</h2>
    </div>

    <div class="row">
        {% for book in books %}
            <div class="col-xl">
                <div class="card" style="width: 18rem;">
                    <h3 class="card-title card-header bg-dark text-light">{{ book.title }}</h3>
                    <div class="card-body">
                        <h5 class="card-text">Author:{{ book.author }}</h5>
                        <h5 class="card-text">Price: ${{ book.price }},-</h5>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-dark" href="{{ path('book_show', {'id': book.id}) }}">Read more</a>
                        <a class="btn btn-dark mt-1" href="{{ path('review_new_book_id', {'book_id': book.id}) }}">Create
                            comment</a>
                    </div>
                    <div class="card mt-3 border-top mb-5" style="width: 18rem;">
                        <h5 class="card-header bg-dark text-light ">{{ book.title }}</h5>
                        <div class="card-body">

                            {% if book.reviews is empty %}
                                <p class="card-text bg-light ">There is no review yet!</p>

                                {% else %}
                                    <p class="card-text bg-light ">{{ book.reviews[0].description }}</p>
                                    <p class="card-text bg-light ">{{ book.reviews[0].name }}</p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
